body * {
    box-sizing: border-box;
}

header {
    border: 5px solid firebrick;

    font-size: 24px;
    color: #f9faf8;
    background: #1f2937;
}

.first-container {
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 7px;
    align-items: center;
}

.link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.link-txt {
    font-size: 18px;
    color: #e5e7eb;

}

.logo {
    flex-basis: 100%;
}